body{
    background-color: #F7F7F7;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.flexbox1337{
    display: flex;
    height: 60px;
    width: 100%;
    padding: 10px;

}
.flexbox1337 img{
    max-height: 100%;
    max-width: 160px;
    height: auto;
    width: auto;
    display: block;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;

}
.navbar{
    overflow-x: auto;
    white-space: nowrap;
}
nav ul{
    display: flex;
    gap: clamp(1rem, 4vw, 2rem);
    margin: 10px;
    padding: 10px;
    margin-right: 20px;

}

li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* skuggor på flexbox */
    border-radius: 10px; /* rundade hörn */
    color: rgb(92, 83, 83);
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(146, 144, 144);
}
.navbar a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.384);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* skuggor på flexbox */
    border-radius: 10px; /* rundade hörn */
}
main{
     display: grid;
     grid-template-columns: 2, 1fr;
     grid-row: auto; 
     margin-top: 20px; 
     gap: 20px;
     margin: 30px;
    

}

.bild1{
   gap: 20px;


}

.bild1 figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Stil för img och hover */
.bild1 img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

/* Stil för a taggen. */
.bild1 figure a {
    text-decoration: none; 
    display: inline-block;
   
}
.bild1 figure a:hover img {
    transform: scale(1.05); 
}


.artikel1,.artikel2,.artikel3,.artikel4,.artikel5{
    display: flex;
    flex-direction: column;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 90%;


}
h1, h2, h3, h4, h5{
    font-size: clamp(1rem, 1.5rem, 2.5rem);
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

p{
    text-align: center;
}

footer {
    background-color: #F7F7F7;
    color: #333333;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* skuggor på flexbox */
    border-radius: 10px; /* rundade hörn */
    display: flex;
    bottom: 0; /* fastnar på botten */
    justify-content: center;
  }
footer p{
   color: #333333;
}
/*Respons*/
@media(min-width:426px){

    .bild1 {
        display: flex;
        flex-direction: column;
       
    }
    .bild1 figure{
        display: flex;
        width: 99%;
        margin: 10px;
        align-items: center;
        justify-content: center;

    }

}
    @media (max-width:768px) {
        .bild1 {
            display: flex;
            flex-direction: column;
           
        }
        .bild1 figure{
            display: flex;
            width: 99%;
            margin: 0;
            align-items: center;
            justify-content: center;
    
        }
        section{
            display: grid;
            grid-template-columns: 1fr;
            grid-row: auto;
            margin-top: 20px;
            gap: 10px;
            
    }

}
 @media (min-width:769px){
    .bild1 {
        display: flex;
        flex-direction: row-reverse;
        
       
       
    }
    .bild1 figure{
        display: flex;
        width: 99%;
        margin: 0;
        justify-content: center;
       

    }
    section{
        display: grid;
        grid-template-columns: 2, 1fr;
        grid-row: auto;
        margin-top: 20px;
        gap: 10px;
        
}

 }
