body{
    background-color: #F7F7F7;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin: 0;
    padding: 0;  
    justify-content: center;

}
header h1{
    text-align: center;
    font-size: 40px;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: clamp(30px, 20px, 30px);
    margin: 0;
    padding: 10px; 
   
}
li{
    list-style: none;
}
a{ 
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* skuggor på flexbox */
    border-radius: 10px; /* rundade hörn */  
    color: rgb(92, 83, 83);
    width: 100%;
    padding: 10px;
    text-align: center;
    /* border: 1px solid rgb(146, 144, 144); */
}
a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.384);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* skuggor på flexbox */
    border-radius: 10px; /* rundade hörn */
}
.flexbox1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}
.flexbox1 img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    display: block;
    width: 100%;
}
figure{
    max-width: 600px;
    position: relative;
    display: inline-block;
    margin: 0;
    width: 100%;
    

}
figure figcaption {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    padding: 10px;
    color: #F7F7F7;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
}
.flexbox1 article h2, p{
    text-align: center;
}
.flexbox1 p{
    font-size: clamp(1rem, 2.5vw, 3rem);
}
.flexbox2{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 40vh;          
    background-color: #F7F7F7; 
    flex-direction: column;
}
.flexbox2 h3, p{
    display: flex;
    justify-content: center; 
    margin: 10px;
    width: auto;
   text-align: center;
}



footer {
    background-color: #F7F7F7;
    color: #333333;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    bottom: 0; /* fastnar på botten */
    justify-content: center;
  }
footer p{
   color: #333333;
}
  @media(max-width:426px){
    nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

  }

